:root {
    --color-1: #B37EB5;
    --color-2: #A27EAC;
    --color-3: #D425EF;
    --color-4: rgba(176, 241, 255, 1);
    --color-5: #7AB1CF;
    --color-6: #CBFFFE;
    --color-7: #FFC3ED;
    --color-8: #EBAEFB;
    --color-9: #5F2568;
}

html, body{
    -webkit-app-region: drag;
    user-select: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 15px;
}

.main-app {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 15px; /* Adjust this value to control roundness */
}

/* Hidden */

.hidden{
    display: none;
}

/* Purple Pixel */

#purple-pixel-heart{
    position: absolute; 
    cursor: pointer;
    -webkit-app-region: no-drag; /* Corrected */
}

.purple-heart-1{
    top:0px;
    left:85%;
}

.purple-heart-2{
    top:0px;
    right:87%;
}

.purple-heart-secret-message{
    width: 33px;
    height: 32px;
    top: 391px;
    left: 191px;
}

#purple-pixel-heart:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/* click Button */

.click-button{
    position: absolute;
    top: 208px;
    left: 94px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.click-button:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/* Pink Pixel Heart */

#pink-pixel-heart{
    position: absolute;
    animation: rotateHeart 3s linear infinite;
    -webkit-app-region: no-drag;
}

.pink-heart-1{
    top: 68px;
    left: 23px;
}

.pink-heart-2{
    top: 68px;
    left: 228px;
}

/* Next button */

.next-button {
    position: absolute;
    top: 401px;
    left: 225px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.next-button:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out
}

/* Keyframes Animation */

@keyframes rotateHeart{
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}